@media screen and (max-width: 1150px) {
  .skillsWrapper .klickMich {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  header {
    position: initial;
  }

  header>nav, footer>nav {
    margin: 0;
    justify-content: space-around;
    height: auto;
    padding: 1rem 0;
  }

  nav>.navPlaceholder {
    display: none;
  }

  header>nav>div>a {
    margin: 1rem 0;
    font-size: 5vmin;
  }

  .aboutMeInfoWrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .aboutMeInfoWrapper>div {
    margin-top: 2rem;
  }

  .sectionContentWidth>h1, .sectionContentWidth>p {
    text-align: center;
    width: 100%;
  }

  .sectionContentWidth>h1 {
    font-size: 8vmin;
  }

  .sectionContentWidth>p {
    font-size: 4vmin;
    line-height: 3rem;
  }

  .sectionContentWidth {
    width: 100vw;
  }

  .skillsInfoWrapper {
    margin: 1rem 3rem;
    margin-top: 4rem;
  }

  .skillsInfoWrapper>div {
    min-height: 13.5rem;
    height: auto;
    flex-basis: 48%;
  }

  .projekteInfoWrapper {
    justify-content: center;
  }

  .projekteInfoWrapper>div {
    flex-basis: 70%;
  }

  .skillsInfoWrapper>div>h1, .projekteInfoWrapper>div>div>h1 {
    font-size: 4vmin;
    text-align: center;
  }

  .skillsInfoWrapper>div>p, .projekteInfoWrapper>div>div>p, .projekteInfoWrapper p.projectStatus {
    font-size: 3vmin;
  }

  .projekteInfoWrapper>div {
    min-height: 17rem;
  }

  .projekteDetailsWrapper {
    flex-wrap: wrap;
    margin: 0 0;
  }

  .projekteDetailsWrapper>div:last-child {
    flex-basis: 80vw;
    margin: 2rem 0;
  }

  .immorealDetails, .jacDetails, .vierGewinntDetails, .simonDetails {
    overflow: scroll;
  }

  .projekteDetailsWrapper h1 {
    font-size: 4vmin;
  }

  .projekteDetailsWrapper p, .projekteDetailsWrapper .projektDetailsTechno {
    font-size: 3vmin;
    line-height: 2.5rem;
  }

  .projekteDetailsWrapper button {
    font-size: 4vmin;
  }
}