@media screen and (max-width: 1150px) {
  .skillsWrapper .klickMich {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  header>nav, footer>nav {
    margin: 0;
    justify-content: space-around;
    height: auto;
    padding: 1rem 0;
  }

  nav>.navPlaceholder {
    display: none;
  }

  header>nav>div>a {
    margin: 1rem 0;
    font-size: 5vmin;
  }

  .meinName>div:last-of-type {
    font-size: 3vh;
  }

  .aboutMeInfoWrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .aboutMeInfoWrapper>div {
    margin-top: 2rem;
  }

  .sectionContentWidth>h1, .sectionContentWidth>p {
    text-align: center;
    width: 100%;
  }

  .sectionContentWidth>h1 {
    font-size: 4vmin;
  }

  .sectionContentWidth>p {
    font-size: 2vmin;
  }

  .sectionContentWidth {
    width: 100vw;
  }

  .skillsInfoWrapper {
    margin: 1rem 3rem;
    margin-top: 4rem;
  }
}