@media screen and (max-width: 1150px) {
  .skillsWrapper .klickMich {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  header>nav, footer>nav {
    margin: 0;
    justify-content: space-around;
    height: auto;
  }

  nav>.navPlaceholder {
    display: none;
  }

  header>nav>div>a {
    margin: 1rem 0;
    font-size: 4vh;
  }

  .meinName>div:last-of-type {
    font-size: 3vh;
  }

  .aboutMeInfoWrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .aboutMeInfoWrapper>div {
    margin-top: 2rem;
  }

  .sectionContentWidth>h1, .sectionContentWidth>p {
    text-align: center;
  }
}